Xtee.Connector/TeavitusTeenus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
    xmlns:tns="http://teavitus.x-road.ee"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://teavitus.x-road.ee">
<wsdl:types>
<schema elementFormDefault="qualified" targetNamespace="http://teavitus.x-road.ee" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://teavitus.x-road.ee" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd">
  <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
  <element name="Teavita">
    <complexType>
      <sequence>
        <element name="Teavitus" type="tns:Teavitus" />
      </sequence>
    </complexType>
  </element>
  <element name="TeavitaResponse">
    <complexType>
        <sequence/>
    </complexType>
  </element>
  <complexType name="Teavitus" abstract="true">
	<sequence>
		<element name="TeavitusId" type="string" />
		<element name="MenetlusId" type="int" />
		<element minOccurs="0" name="Menetleja" type="tns:Menetleja" />
	</sequence>
  </complexType>
  <complexType name="MenetlusLoodud">
    <complexContent mixed="false">
      <extension base="tns:Teavitus">
        <sequence>
          <element name="Avaldaja" type="tns:Avaldaja" />
		  <element name="Kusimus" type="string" />
		  <element minOccurs="0" name="Markus" type="string" />
		  <element name="Staatus" type="tns:Staatus" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VoetiUlevaatamisele">
    <complexContent mixed="false">
      <extension base="tns:Teavitus">
        <sequence>
          <element name="Staatus" type="tns:Staatus" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VoetiMenetlusse">
    <complexContent mixed="false">
      <extension base="tns:Teavitus">
        <sequence>
          <element name="Staatus" type="tns:Staatus" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MenetlusLoppes">
    <complexContent mixed="false">
      <extension base="tns:Teavitus">
        <sequence>
          <element name="Staatus" type="tns:Staatus" />
          <element name="Vastus" type="tns:Vastus" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Avaldaja">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Eesnimi" type="string" />
      <element minOccurs="1" maxOccurs="1" name="Perenimi" type="string" />
	  <element minOccurs="1" maxOccurs="1" name="Isikukood" type="string" />
    </sequence>
  </complexType>
  <complexType name="Menetleja">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="Isikukood" type="string" />
      <element minOccurs="0" maxOccurs="1" name="AsutuseTunnus" type="string" />
    </sequence>
  </complexType>
  <simpleType name="Staatus">
    <restriction base="string">
      <enumeration value="Ootel" />
      <enumeration value="Ulevaatamisel" />
      <enumeration value="Menetluses" />
      <enumeration value="TagasiLukatud" />
	  <enumeration value="Lopetatud" />
    </restriction>
  </simpleType>
  <simpleType name="Vastus">
    <list>
      <simpleType>
        <restriction base="string">
          <enumeration value="Puudub" />
          <enumeration value="Jah" />
          <enumeration value="Ei" />
        </restriction>
      </simpleType>
    </list>
  </simpleType>
</schema>
</wsdl:types>
    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>
    <wsdl:message name="Teavita_InputMessage">
        <wsdl:part name="body" element="tns:Teavita"/>
    </wsdl:message>
    <wsdl:message name="Teavita_OutputMessage">
        <wsdl:part name="body" element="tns:TeavitaResponse"/>
    </wsdl:message>
    <wsdl:portType name="ITeavitusTeenus">
        <wsdl:operation name="Teavita">
          <wsdl:documentation>
            <xrd:title xml:lang="et">Teavituste edastamise teenus.</xrd:title>
          </wsdl:documentation>
          <wsdl:input message="tns:Teavita_InputMessage"/>
            <wsdl:output message="tns:Teavita_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TeavitusTeenusBinding" type="tns:ITeavitusTeenus">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Teavita">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                    part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TeavitusTeenus">
        <wsdl:port binding="tns:TeavitusTeenusBinding" name="TeavitusTeenusBinding">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>